<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
<nav th:replace="fragments/navigation :: navigation ('/products', ${quantity})"></nav>
<div id="root" class="Admin">
    <div class="ui container">
        <div class="ui three cards">
            <div class="ui card" th:each="product: ${products}">
                <div class="content" style="padding: 40px">
                    <div class="Admin__slider">
                        <img th:each="image: ${product.images}" th:src="${image.base64}" src="#"/>
                    </div>
                </div>
                <div class="content">
                    <div class="header" th:text="${product.name}">Product name to add</div>
                    <div class="meta" th:text="${product.price} + ' ' + ${product.currency.displayValue}">Product price to add</div>
                    <div class="description" th:text="${product.description}">Product description to add</div>
                </div>
                <div class="extra content">
                    <div class="ui two buttons">
                        <form action="#" th:action="@{'/products/{id}/addToCart'(id=${product.id})}" th:method="post">
                            <button type="submit" class="ui green basic button">Add to cart</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
<script th:src="@{/js/common.js}"></script>
</body>
</html>