<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"> </head>
<body>
<nav th:replace="fragments/navigation :: navigation ('/users')"> </nav>
<br />
<table id="users" class="table table-striped">
    <thead>
    <tr>
        <th style="width: 200px;">Username</th>
        <th style="width: 300px;">Name</th>
        <th style="width: 500px;">Roles</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${userList}">
        <td th:text="${user.username}" align="center"></td>
        <td th:text="${user.name}" align="center" />
        <td align="center">
            <ul>
                <li th:each="authorities: ${user.getAuthorities}">
                    [[${authorities.type}]]
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
<footer th:replace="fragments/footer :: footer"> </footer>
</body>
</html>